<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application
        android:name=".ChatApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ISEPCHAT"
        tools:targetApi="31">
        <activity
            android:name=".activities.Gif"
            android:exported="false" />
        <activity
            android:name=".activities.Main"
            android:exported="false"
            android:label="@string/title_activity_main" />
        <activity
            android:name=".activities.SettingsActivity"
            android:exported="false"
            android:label="Edit Profile"
            android:parentActivityName=".activities.Main" />
        <activity
            android:name=".activities.UsersSearchActivity"
            android:exported="false"
            android:label="Search"
            android:parentActivityName=".activities.Main" />
        <activity
            android:name=".activities.ChatActivity"
            android:exported="false"
            android:parentActivityName=".activities.Main" />
        <activity
            android:name=".activities.RegisterActivity"
            android:exported="false"
            android:label="Create an account"
            android:parentActivityName=".activities.AuthentificationActivity" />
        <activity
            android:name=".activities.AuthentificationActivity"
            android:exported="false"
            android:theme="@style/Theme.ISEPCHAT.NoActionBar" />
        <activity
            android:name=".activities.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.ISEPCHAT.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.HomeActivity"
            android:exported="false" />

    </application>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />


</manifest>